$backgroundColor: #120423;
$coolRed: #fc000b;
$deepRed: #a30020;
$coolPurple: #5200a2;
$realPurple: #52006f;
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: #ffffff;
    display: flex;
    margin: 0;
}
h2 {
    opacity: 0;
}
p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
}
li {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: #ffffff;
    text-decoration: none;
}

body {
    background: $backgroundColor;
    margin: 0;
    background-image: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    section {
        max-width: 1440px;
        height: 100vh;
        margin: auto;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }
    #intro {
        @include flex-center;
        flex-direction: column;
        .logo {
            z-index: 100;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .logoIcon {
                top: 50px;
                position: fixed;
                display: flex;
                padding-right: 100px;
            }
        }
        .title {
            text-transform: uppercase;
            .letter {
                display: inline-flex;
            }
        }
        nav {
            z-index: 100;
            display: flex;
            justify-content: start;
            color: #fff;
            width: 100%;
            .navWrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 100px;
                position: fixed;
                bottom: 50px;
                align-items: flex-start;
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                .navLbl {
                    display: flex;
                    transform: rotate(-90deg);
                    transform-origin: left top 0;
                }
                .navigation {
                    @include flex-center;
                    flex-direction: row;
                    #navList {
                        display: flex;
                        flex-direction: row;
                        .navItem {
                            @include flex-center;
                            width: 91px;
                            height: 77px;
                            text-decoration-line: underline;
                            cursor: pointer;
                        }
                        .activeNavItem {
                            background: $realPurple;
                            font-weight: 700;
                            text-decoration-line: none;
                            text-decoration: none!important;
                        }
                    }
                    .navigationSpan {
                        display: flex;
                        margin-right: 40px;
                    }
                    [class="navigationSpan"]:last-of-type {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    #about {
        @include flex-center;
        flex-direction: column;
        align-items: flex-start;
        .aboutHeader {
            padding-left: 150px;
            display: flex;
            flex-direction: row;
            width: 420px;
            align-items: center;
            .redLines {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 36px;
                padding-left: 30px;
                .redLine {
                    display: flex;
                    border: 1px solid $deepRed;
                    height: 4px;
                    opacity: 0;
                }
            }
        }
        .aboutTxt {
            padding-left: 150px;
            width: 420px;
            margin: 50px 0 0 0;
            .letter {
                opacity: 0;
            }
        }
        ul {
            li {
                padding-left: 150px;
                width: 420px;
            }
        }
    }
    #skills {
        @include flex-center;
        flex-direction: column;
        .skillsWrapper {
            width: 70%;
            margin-top: 50px;
            .skillItem {
                margin-bottom: 30px;
                opacity: 0;
                .skillHeader {
                    @include flex-center;
                    justify-content: space-between;
                    .skillName {
                        display: flex;
                        color: #fff;
                        font-family: "Montserrat", sans-serif;
                        font-size: 24px;
                    }
                    .readMoreBtn {
                        display: flex;
                        color: #6f6f6f;
                        font-family: "Montserrat", sans-serif;
                        font-size: 16px;
                    }
                }
                .skillBar {
                    display: flex;
                    margin-top: 10px;
                    background: $realPurple;
                    height: 50px;

                    .skillIndicator {
                        @include flex-center();
                        justify-content: flex-end;
                        width: 30px;
                        transition: 2s;
                        background: $coolRed;
                        padding: 15px;
                        font-family: "Montserrat", sans-serif;
                        font-size: 18px;
                        color: #fff;
                    }
                }
            }
        }
    }
    #works {
        @include flex-center;
        flex-direction: column;
        #worksTitle {
            margin-bottom: 50px;
        }
        .worksWrapper {
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            justify-content: space-between;
            .workItem {
                opacity: 0;
                height: 220px;
                width: 30%;
                background: $coolRed;
                padding-top: 10px;
                &:nth-child(1) {
                    margin-bottom: 50px;
                }
                .workImage {
                    @include flex-center();
                    background-color: $realPurple;
                    height: 100%;
                    font-family: "Montserrat", sans-serif;
                    font-size: 32px;
                    color: #ffffff;
                }
            }
            .doubleWorkItem {
                width: 60%;
            }
        }
    }
    #contacts {
        @include flex-center;
        flex-direction: column;
        #contactsTitle {
            margin-bottom: 50px;
        }
        .contactsInfo {
            display: flex;
            flex-direction: row;
            width: 100%;
            .socialMedia {
                @include flex-center();
                padding: 0px 0px 0px 150px;
                width: 50%;
                flex-direction: row;
                justify-content: space-between;
                span {
                    font-family: "Montserrat", sans-serif;
                    font-size: 24px;
                    color: #ffffff;
                    margin-right: 100px;
                }
                .socialMediaIcons {
                    .row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 200px;
                        svg {
                            display: flex;
                        }
                        .horLine {
                            display: flex;
                            height: 1px;
                            width: 60px;
                            margin: 0px 20px;
                            background: $coolRed;
                        }
                        .verLine {
                            display: flex;
                            width: 1px;
                            height: 60px;
                            background: $coolRed;
                            margin: 25px;
                        }
                    }
                }
            }
            .otherInfo {
                padding-right: 150px;
                width: 50%;
            }
        }
    }
}
@keyframes webDev {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
